SAY Starting SYSLINUX...

MENU TITLE SysLinux Boot Menu

UI boot/syslinux/menu.c32

#DEFAULT syslinux/menu.c32
#\PROMPT 0

<% if ( File.exists?('build/iso/debian/stretch/linux') and
        File.exists?('build/iso/debian/stretch/initrd.gz') )%>
LABEL debian9
  MENU LABEL Debian Stretch (9.x)
  KERNEL ../../debian/stretch/linux
  INITRD ../../debian/stretch/initrd.gz
<% end %>

LABEL centos7
  MENU LABEL CentOS 7
  KERNEL centos/7/vmlinuz
  INITRD centos/7/initrd.img

LABEL tombe
  MENU LABEL ToMBE
  LINUX ipxe/ipxe.lkrn
  INITRD ipxe/hep04.ipxe
